Name: dask
Version: 2022.1.1
Summary: Parallel PyData with Task Scheduling
Home-page: https://github.com/dask/dask/
Author:
Author-email:
License: BSD
Requires: cloudpickle, fsspec, packaging, partd, pyyaml, toolz

Python version 3.7.6 was used to develop the script and Windows Powershell was used to run and execute the program.



